.team {
  text-align: center;
  padding: 100px 0;

}
.team-inner {
  @include container;
}

.team-title {
  @include title-section;
}

.team-suptitle {
  @include suptitle-section;
}
.team-box {
  display: flex;
  justify-content: space-between;
}
